<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>[[#{software.list.headline}]]</title>
</head>
<body>
<!--/*@thymesVar id="requestUri" type="java.lang.String"*/-->
<!--/*@thymesVar id="sortByIdLink" type="java.lang.String"*/-->
<!--/*@thymesVar id="sortByIdDirection" type="java.lang.String"*/-->
<!--/*@thymesVar id="sortByCodeLink" type="java.lang.String"*/-->
<!--/*@thymesVar id="sortByCodeDirection" type="java.lang.String"*/-->
<!--/*@thymesVar id="sortByNameLink" type="java.lang.String"*/-->
<!--/*@thymesVar id="sortByNameDirection" type="java.lang.String"*/-->
<!--/*@thymesVar id="sortByOwnerLink" type="java.lang.String"*/-->
<!--/*@thymesVar id="sortByOwnerDirection" type="java.lang.String"*/-->
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{software.list.headline}]]</h1>
        <div>
            <a th:href="@{/softwares/add}" class="btn btn-primary ms-2">[[#{software.list.createNew}]]</a>
        </div>
    </div>
    <div class="card shadow mb-3">
        <div class="card-header">
            Filters
        </div>
        <div class="card-body">
            <div class="card-text">
                <form id="searchForm" th:action="${requestUri}" th:object="${softwareSearch}" method="get">
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label for="code" class="form-label">
                                [[#{software.code.label}]]
                            </label>
                            <input type="text" id="code" th:field="*{code}" class="form-control"/>
                        </div>
                        <div class="col-md-5">
                            <label for="name" class="form-label">
                                [[#{software.name.label}]]
                            </label>
                            <input type="text" id="name" th:field="*{name}" class="form-control"/>
                        </div>
                        <div class="col-md-5">
                            <label for="owner" class="form-label">
                                [[#{software.owner.label}]]
                            </label>
                            <select id="owner" th:field="*{ownerId}" class="form-select">
                                <option value=""></option>
                                <option th:each="optionValue : ${ownerValues}" th:value="${optionValue.key}">
                                    [[${optionValue.value}]]
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex justify-content-end">
                            <input type="reset" value="Clear" class="btn btn-secondary me-2"
                                   onclick="return clearForm();"/>
                            <input type="submit" value="Search" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card shadow mb-3">
        <div class="card-header">
            Results
        </div>
        <div class="card-body">
            <p class="card-text" th:if="${#lists.isEmpty(softwares)}">[[#{software.list.empty}]]</p>
            <div th:if="${not #lists.isEmpty(softwares)}" class="table-responsive">
                <table class="table table-sm table-striped table-hover align-middle">
                    <thead>
                    <tr>
                        <th th:replace="~{fragments/table-utils :: sortableColumnHeader('software.id.label', ${sortByIdLink}, ${sortByIdDirection}, 'id')}"></th>
                        <th th:replace="~{fragments/table-utils :: sortableColumnHeader('software.code.label', ${sortByCodeLink}, ${sortByCodeDirection}, 'email')}"></th>
                        <th th:replace="~{fragments/table-utils :: sortableColumnHeader('software.name.label', ${sortByNameLink}, ${sortByNameDirection}, 'name')}"></th>
                        <th th:replace="~{fragments/table-utils :: sortableColumnHeader('software.owner.label', ${sortByOwnerLink}, ${sortByOwnerDirection}, 'owner.name')}"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr th:each="software : ${softwares}">
                        <td>[[${software.id}]]</td>
                        <td>[[${software.code}]]</td>
                        <td>[[${software.name}]]</td>
                        <td>[[${software.ownerName}]]</td>
                        <td>
                            <div class="float-end text-nowrap">
                                <a th:href="@{/softwares/view/{id}(id=${software.id})}"
                                   class="btn btn-sm btn-secondary bi-eye"
                                   th:title="#{software.list.view}"></a>
                                <a th:href="@{/softwares/edit/{id}(id=${software.id})}"
                                   class="btn btn-sm btn-secondary bi-pencil-square"
                                   th:title="#{software.list.edit}"></a>
                                <form th:action="@{/softwares/delete/{id}(id=${software.id})}"
                                      th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-secondary bi-trash" th:title="#{software.list.delete}">
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer d-flex flex-column flex-md-row align-items-center justify-content-between">
            <nav th:replace="~{fragments/utils::pagination2()}"></nav>
        </div>
    </div>
</div>
</body>
</html>
