<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>[[#{deploy.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{deploy.list.headline}]]</h1>
        <div>
            <a th:href="@{/deploys/add}" class="btn btn-primary ms-2">[[#{deploy.list.createNew}]]</a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 g-4 mb-3">
        <div class="col" th:each="deploy : ${deploys}">
            <div class="card shadow h-100">
                <div class="card-header text-truncate">
                    [[${deploy.code}]] - [[${deploy.name}]]
                </div>
                <div class="card-body p-2">
                    <table class="table table-sm align-middle table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Env</th>
                                <th scope="col">Version</th>
                                <th scope="col" class="text-center">Deploy</th>
                                <th scope="col" class="text-center"><i class="bi-list"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:replace="~{deploy/_cardrow::cardRow(${deploy.dev.deployId}, 'DEV', ${deploy.dev.version}, ${deploy.dev.executionDate})}"></tr>
                            <tr th:replace="~{deploy/_cardrow::cardRow(${deploy.qa.deployId}, 'QA', ${deploy.qa.version}, ${deploy.qa.executionDate})}"></tr>
                            <tr th:replace="~{deploy/_cardrow::cardRow(${deploy.uat.deployId}, 'UAT', ${deploy.uat.version}, ${deploy.uat.executionDate})}"></tr>
                            <tr th:replace="~{deploy/_cardrow::cardRow(${deploy.prod.deployId}, 'PROD', ${deploy.prod.version}, ${deploy.prod.executionDate})}"></tr>
                            <tr th:replace="~{deploy/_cardrow::cardRow(${deploy.dr.deployId}, 'DR', ${deploy.dr.version}, ${deploy.dr.executionDate})}"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-danger btn-sm"><i class="bi-unlock"></i> Unlock</button>
                    <button class="btn btn-secondary btn-sm"><i class="bi-clock"></i> History</button>
                    <button class="btn btn-primary btn-sm"><i class="bi-plus-circle"></i> Deploy</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>