<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>[[#{user.edit.headline}]]</title>
</head>
<body>
    <!--/*@thymesVar id="requestUri" type="java.lang.String"*/-->
    <div layout:fragment="content">
        <div class="d-flex flex-wrap mb-4">
            <h1 class="flex-grow-1">[[#{user.edit.headline}]]</h1>
            <div>
                <a th:href="@{/users}" class="btn btn-secondary">[[#{user.edit.back}]]</a>
            </div>
        </div>
        <div th:replace="~{fragments/forms::globalErrors('user')}"></div>
        <form th:action="${requestUri}" th:object="${user}" method="post">
            <th:block th:replace="~{user/_form :: userForm('edit', ${user}, ${genderValues}, ${departmentValues}, ${rolesValues})}"></th:block>
            <input type="submit" th:value="#{global.form.save}" class="btn btn-primary mt-4" />
        </form>
    </div>
</body>
</html>
