<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <!--/*@thymesVar id="paginationModel" type="br.dev.ampliar.caipora.model.PaginationModel"*/-->
    <!--/*@thymesVar id="requestUri" type="java.lang.String"*/-->
    <th:block th:fragment="pagination2()" th:if="${paginationModel != null}">
        <nav th:if="${paginationModel.steps.size > 3}">
            <ul class="pagination m-0">
                <li th:each="step : ${paginationModel.steps}" th:classappend="${(step.active ? 'active' : '') + (step.disabled ? ' disabled' : '')}" class="page-item">
                    <a th:href="${requestUri + step.url}" class="page-link">[[${step.label}]]</a>
                </li>
            </ul>
        </nav>
        <p class="fw-normal small m-0 d-none d-xl-block d-xxl-block">[[${paginationModel.elements}]]</p>
    </th:block>
</body>
</html>
