<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<body>
    <th:block th:fragment="versionForm(mode, version, softwareValues)" th:object="${version}">
        <div class="row mb-3" th:if="${mode != 'add'}">
            <label for="id" class="col-md-2 col-form-label">
                <span>[[#{version.id.label}]]</span>
            </label>
            <div class="col-md-10">
                <input type="number" id="id" th:field="*{id}" disabled="disabled" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="software" class="col-md-2 col-form-label">
                <span>[[#{version.software.label}]]*</span>
            </label>
            <div class="col-md-10">
                <select id="software"
                        class="form-select"
                        th:field="*{softwareId}"
                        th:disabled="${mode == 'view'}"
                        th:classappend="${#fields.hasErrors('softwareId') ? 'is-invalid' : ''}">
                    <option value="">[[#{select.empty.label}]]</option>
                    <option th:each="optionValue : ${softwareValues}" th:value="${optionValue.key}">[[${optionValue.value}]]</option>
                </select>
                <div th:if="${#fields.hasErrors('softwareId')}" class="invalid-feedback d-block">
                    <p th:each="error : ${#fields.errors('softwareId')}" class="mb-0">[[${error}]]</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="name" class="col-md-2 col-form-label">
                <span>[[#{version.name.label}]]*</span>
            </label>
            <div class="col-md-10">
                <input type="text"
                       id="name"
                       class="form-control"
                       th:field="*{name}"
                       th:disabled="${mode == 'view'}"
                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" />
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback d-block">
                    <p th:each="error : ${#fields.errors('name')}" class="mb-0">[[${error}]]</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="file" class="col-md-2 col-form-label">
                <span>[[#{version.fileName.label}]]*</span>
            </label>
            <div class="col-md-10">
                <input type="file"
                       id="file"
                       class="form-control"
                       th:field="*{file}"
                       th:disabled="${mode == 'view'}"
                       th:classappend="${#fields.hasErrors('file') ? 'is-invalid' : ''}"
                       th:if="${mode == 'add'}" />
                <a th:href="@{/versions/download/{id}(id=${version.id})}"
                   th:if="${mode != 'add'}"
                   class="btn btn-secondary"
                   target="_blank"
                   download>Download</a>
                <div th:if="${#fields.hasErrors('file')}" class="invalid-feedback d-block">
                    <p th:each="error : ${#fields.errors('file')}" class="mb-0">[[${error}]]</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="releaseDate" class="col-md-2 col-form-label">
                <span>[[#{version.releaseDate.label}]]*</span>
            </label>
            <div class="col-md-10">
                <input type="text"
                       id="releaseDate"
                       class="form-control js-datepicker"
                       th:field="*{releaseDate}"
                       th:disabled="${mode == 'view'}"
                       th:classappend="${#fields.hasErrors('releaseDate') ? 'is-invalid' : ''}" />
                <div th:if="${#fields.hasErrors('releaseDate')}" class="invalid-feedback d-block">
                    <p th:each="error : ${#fields.errors('releaseDate')}" class="mb-0">[[${error}]]</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="changelog" class="col-md-2 col-form-label">
                <span>[[#{version.changelog.label}]]</span>
            </label>
            <div class="col-md-10">
                <textarea id="changelog"
                          class="form-control tinymce-editor"
                          th:field="*{changelog}"
                          th:disabled="${mode == 'view'}"
                          th:classappend="${#fields.hasErrors('changelog') ? 'is-invalid' : ''}"></textarea>
                <div th:if="${#fields.hasErrors('changelog')}" class="invalid-feedback d-block">
                    <p th:each="error : ${#fields.errors('changelog')}" class="mb-0">[[${error}]]</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="comments" class="col-md-2 col-form-label">
                <span>[[#{version.comments.label}]]</span>
            </label>
            <div class="col-md-10">
                <textarea id="comments"
                          class="form-control tinymce-editor"
                          th:field="*{comments}"
                          th:disabled="${mode == 'view'}"
                          th:classappend="${#fields.hasErrors('comments') ? 'is-invalid' : ''}"></textarea>
                <div th:if="${#fields.hasErrors('comments')}" class="invalid-feedback d-block">
                    <p th:each="error : ${#fields.errors('comments')}" class="mb-0">[[${error}]]</p>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            function setEditorReadOnly() {
                setTimeout(() => {
                    tinymce.get('changelog').mode.set(/*[[${mode == 'view' ? 'readonly' : 'design'}]]*/);
                    tinymce.get('comments').mode.set(/*[[${mode == 'view' ? 'readonly' : 'design'}]]*/);
                }, 500);
            }
            document.addEventListener('DOMContentLoaded', setEditorReadOnly);
            document.addEventListener('htmx:afterSwap', setEditorReadOnly);
        </script>
    </th:block>
</body>
</html>