<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>View Stakeholder</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="~{fragments/header :: header('view', 'View Stakeholder', 'stakeholderForm', @{/stakeholders})}"></div>
        <th:block th:replace="~{stakeholder/_form :: stakeholderForm('view', ${stakeholder}, ${departmentValues}, ${genderValues})}"></th:block>
    </div>
</body>
</html>
