<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>Control Panel</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <div layout:fragment="content">
        <h1 class="mb-4">Control Panel</h1>
        <p class="mb-5">
            <span>Swagger is</span>
            <a th:href="@{/swagger-ui.html}" target="_blank">available here</a>.
        </p>
        <div class="col-md-4 mb-5">
            <h4 class="mb-3">Menu</h4>
            <div class="list-group">
                <a th:href="@{/departments}" class="list-group-item list-group-item-action">Departments</a>
                <a th:href="@{/users}" class="list-group-item list-group-item-action">Users</a>
                <a th:href="@{/versions}" class="list-group-item list-group-item-action">Versions</a>
                <a th:href="@{/deploys}" class="list-group-item list-group-item-action">Deploys</a>
                <a th:href="@{/stakeholders}" class="list-group-item list-group-item-action">Stakeholders</a>
                <a th:href="@{/softwares}" class="list-group-item list-group-item-action">Applications</a>
            </div>
        </div>
    </div>
</body>
</html>
