<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="departmentForm(mode, department)" th:object="${department}">
    <div class="row mb-3" th:if="${mode != 'add'}">
        <label for="id" class="col-md-2 col-form-label">
            <span>[[#{department.id.label}]]</span>
        </label>
        <div class="col-md-10">
            <input type="number" id="id" th:field="*{id}" disabled="disabled" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="name" class="col-md-2 col-form-label">
            <span>[[#{department.name.label}]]*</span>
        </label>
        <div class="col-md-10">
            <input type="text"
                   id="name"
                   class="form-control"
                   th:field="*{name}"
                   th:disabled="${mode == 'view'}"
                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" />
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback d-block">
                <p th:each="error : ${#fields.errors('name')}" class="mb-0">[[${error}]]</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-md-2 col-form-label">
            <span>[[#{department.email.label}]]</span>
        </label>
        <div class="col-md-10">
            <input type="email"
                   id="email"
                   class="form-control"
                   th:field="*{email}"
                   th:disabled="${mode == 'view'}"
                   th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" />
            <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback d-block">
                <p th:each="error : ${#fields.errors('email')}" class="mb-0">[[${error}]]</p>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>